torch
torchvision
torchaudio
timm
einops
numpy
scipy
pandas
scikit-learn
scikit-image
opencv-python
Pillow
imageio
albumentations
kornia
matplotlib
seaborn
tensorboard
tensorboardX
tqdm
PyYAML
yacs
easydict
omegaconf
packaging
termcolor
thop
fvcore
ptflops
wandb
joblib
h5py
lmdb
six
setuptools
wheel
